name: CI

on: [push]

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: okteto/civo-webhook:ct

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.8.1

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.1
        with:
          version: v3.5.1

      
      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      #- name: Create kind cluster
      #  uses: helm/kind-action@v1.2.0

      #- name: Run chart-testing (install)
      #  run: ct install --config ct.yaml

